@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #14181e;
    outline:none;
    margin: 0;
}



.signupbt{
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    float: right;
    color: #fff;
    font-size: 13pt;
    background-color: #0bbe35;
    border: 2px solid #0bbe35;
    border-radius: 5px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 45px;
    outline:none;
    

}
.signupbt:hover{

}
.logininput{
    background: #fff;
    color: #000;
    padding: 15px;
    padding-left: 15px;
    padding-right: 75px;
    margin-top: 8px;
    margin-bottom: 5px;
    border: 2px solid #272a32;
    border-radius: 3.5px;
}
.input{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.formpos{ 
    margin-top:0;
    position: fixed;
    height: 100%;
    width: fit-content; 
    width: 30%;
    background-color: #1b1e28;
    border-right: 2px solid #272a32;
    
}
 
.loginform{
    margin-top: 50%;
    margin-left: 10%;
    height: fit-content;
    width: fit-content;
    display:block;
    padding: 100px;
    background:#1b1e28;
    
}
.login-button{
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    float: right;
    color: #fff;
    font-size: 13pt;
    background-color: #0bbe35;
    border: 2px solid #0bbe35;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    padding-left: 10px;
}
.login-button:hover{
    box-shadow: rgba(64, 185, 87, 0.4) 0px 5px, rgba(64, 185, 87, 0.3) 0px 10px, rgba(64, 185, 87, 0.2) 0px 15px, rgba(64, 185, 87, 0.1) 0px 20px, rgba(64, 185, 87, 0.05) 0px 25px;
}