@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Pontano+Sans&family=Sacramento&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    outline: none;
}
body,
html {
    margin:0;
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    height: 100%;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button{
    border:none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    /* background: #14181e; */
}
.header-register{
    display: flex;
    height: 15%;
    align-items: right;
    justify-content: right;
}
.signupbt{
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    color: #fff;
    font-size: 13pt;
    background-color: #0bbe35;
    border: 2px solid #0bbe35;
    border-radius: 5px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 45px;
    outline:none;
}
.logininput{
    background: url(resources/user.png) no-repeat rgba(211, 179, 179, 0.01);
    background-position-x: 1em;
    background-position-y: center;
    background-size: 1.3em 1.3em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(211, 179, 179, 0.01);
    color: #FFF;
    padding: 1.3em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    caret-color: #046afb; 
    transition: 0.2s ease;
}
.logininput:focus{  
    outline: 1px solid #046afb;
    background-position-x: 90%;
    transition: 0.25s ease;
}
.logininput:focus::placeholder{
    opacity: 0;
    transition: 0.25s ease;
}

.pwdinput{
    background: url(resources/lock.png) no-repeat rgba(211, 179, 179, 0.01);
    background-position-x: 1em;
    background-position-y: center;
    background-size: 1.5em 1.5em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(211, 179, 179, 0.01);
    color: #FFF;
    padding: 1.3em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    caret-color: #046afb; 
    transition: 0.25s ease;
}
.pwdinput:focus{
    outline: 1px solid #046afb;
    background-position-x: 90%;
    transition: 0.25s ease;
}
.pwdinput:focus::placeholder{
    opacity: 0;
    transition: 0.25s ease;
}


.loginform{
    margin-left: -3em;
    margin-top: 1rem;
    padding: 6em;
    padding-top: 2em;
    padding-bottom: 2em;
    background: rgba(217, 217, 217, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(217, 217, 217, 0.01);
}


.login-button{
    margin-top: 5px;
    font-family: 'Dongle', sans-serif;
    font-size: 20pt;
    padding: 0.3rem;
    background-color: #046afb;
    border-radius: 9px;
    width: 100%;
}
.login-button:hover{
    background-color: #0d71ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
    transition: 0.25s ease;
}
::placeholder{
    padding-left: 15%;
    opacity: 0.6;
    font-family: 'Dongle', sans-serif;
    font-weight: 100;
    color: #fff;
    letter-spacing: 0.2pt;
    font-size: 17pt;

}
.loginw{
    margin-top: 5em;
    display: flex;
    font-size: 6pt;
    opacity: 0.7;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;

}
.hr1{
    display: flex;
    float: left;
    color: #fff;
    opacity: 0.2;
    width: 7em;
    border: 0.01px solid white;
    border-radius: 1px;
}
.hr2{
    display: flex;
    float: right;
    color: #fff;
    opacity: 0.2;
    width: 7em;
    border: 0.01px solid white;
    border-radius: 1px;
}
.social{
    margin-top: 1em;
    margin-left: 0.7em;   
    background: rgba(217, 217, 217, 0.03);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 7px solid rgba(217, 217, 217, 0.01);
    width: 1.5em;
    height: 1.5em;
}
.footer{
    padding: 2em;
    display: flex;
}
.footerlink{
    margin-left: 1em;
    
} 
.footerhr{
    opacity: 0.3;
    height: 0;
    border: 1px solid white;
    border-radius: 1px;
    width: 80%;

}