*{
   color: #fff;
    background: #14181e;
    margin: 0;
}









.search-block{
    background: #1b1f27;
    padding: 5%;
}
.g-button{
    color: #fff;
    background-color: #0bbe35;
    border: 2px solid #0bbe35;
    border-radius: 5px;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 45px;
 
    outline:none;
    box-shadow: rgba(64, 185, 87, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.search-input{
    background-color: #fff;
    color: #000;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 25%;
    padding-left: 15px;
    border: 2px solid #292c35;
    border-radius: 5px;
    outline:none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
